body {
    font-family:verdana, Geneva, Tahoma, sans-serif;
}

h1,
h2 {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    font-weight: normal;
}

/* p{
    font-style: italic;
    
} */
em,a:link,.intro  .subhead{
    font-weight: bold;
}
