body {
    /* font-family:verdana, Geneva, Tahoma, sans-serif;
    font-size: 100%; */
    font: 100% verdana, Geneva, Tahoma, sans-serif;
    /* color: blue; */
    background-color: #88b2d2;

}

h1,
h2 {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    font-weight: normal;
    letter-spacing: 1px;
    text-align:center;
}

/* h1{
    font-size:2.1875em;
    text-transform:uppercase;
} */

.intro{
    line-height: 1.45;
    background-color: #686a63;
    color: #fff;
    padding: 1px 1.875em 0.7em;
}

/* p{
    font-style: italic;
    
} */
em,a:link,.intro  .subhead{
    font-weight: bold;
    }

h1{
    font-size: 2.1875em;
    /* 35px/16px */
    text-transform:uppercase;
}

h2{
    background-color: #eaebef;
    color: #7d717c;
    font-size: 1.75em;
    /* 28px/16px */
    font-variant:small-caps;
}

.intro .subhead{
    font-size: 1.125em;
    /* 18px/16px */
    /* text-align:center; */
    color:lime;
    text-shadow: 3px 3px 2px black;
    white-space: nowrap;

}

.intro p{
    font-size: 1.00625em;
    /* 17px/16px */
}

.project p{
    font-size: 0.9375em;
    /* 15px/16px */

    line-height: 1.65;
    /* 15px*1.65=24.75 */
    text-indent: 2em;
}

/* ::::::链接::::::: */

a:link{
    color: #e10000;
    text-decoration: none;
}

a:visited{
    color: #b44f4f;
}

a:hover{
    color: #f00;
    text-decoration:underline;
}

.intro a{
    color: #fdb09d;
}

.intro a:hover{
    color: #fec4b6;
    
}

.architect{
    background-color: #fff;
    padding: 1.5em 1.75em;
}

p{
    text-align:justify;
}