body{
    background-image: url(../img/bg-pattern.png);
    color:#ff0;

}

p{
    background-color: rgb(60,143,0);
    font-size: 1.75em;
    padding: 0.5em;
}

.test-1{
    background-color: rgba(60,143,0,0.75);
}

.test-2{
    background-color: rgba(60,143,0,0.4)
}