body{
    font-size: 1.12em;
    line-height: 1.5em;
}
p{
    color:red;
    /* font-size: 1.2em; */
}

.example{
    color:blue;
}

.example.example-2{
    color:magenta
    /* 会被下一条规则覆盖 */
}

.example.example-2{
    color:green;
}